<ion-view view-title="{{ 'CONGRESSO' | translate }}">
	<ion-content>
		<div class="row">
			<div class="col">
				<div class="logo">
					<img src="img/logo-data.png" alt="">
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<a href="#" onclick="window.open('https://pluris2016.fundepes.br/', '_blank', 'zoom=no'); return false;">
					<button class="button button-full button-royal icon-left ion-compose">
						{{ 'MENU_INSCREVER' | translate }}
					</button>
				</a>	
			</div>
		</div>

		<div class="list card">
			<div class="item">
				<h2>{{ 'MENU_CONGRESSO_APRESENTACAO' | translate }}</h2>
				<p ng-if="language == 'pt_BR'">Sétima edição a ser realizada no Brasil</p>
				<p ng-if="language == 'en'">Sétima edição a ser realizada no Brasil</p>
				<p ng-if="language == 'es'">Sétima edição a ser realizada no Brasil</p>
			</div>

			<div class="item item-body">
				<div class="item item-image">
					<a href="#app/congresso/apresentacao">
						<img class="full-image" src="img/maceio/ponta-verde-farol.jpg">
					</a>
				</div>
				
				<p ng-if="language == 'pt_BR'">
					O PLURIS representa a continuidade da parceria entre pesquisadores do Brasil e de Portugal que se realiza desde 2005.
				</p>

				<p ng-if="language == 'en'">
					The PLURIS represents the continuation of the partnership between researchers from Brazil and Portugal since 2005.
				</p>

				<p ng-if="language == 'es'">
					El PLURIS 2016 continúa la colaboración entre investigadores de Brasil y Portugal celebrada desde el año 2005.
				</p>
				
				<a class="item item-icon-left royal" href="#app/congresso/apresentacao">
					<i class="icon ion-ios-paper"></i>
					{{ 'LEIA_MAIS' | translate }}
				</a>
			</div>
		</div>

		<div class="list card" ng-if="noticias">
			<div class="item">
				<h2 class="title">
					{{ 'NOTICIAS' | translate }}
				</h2>
			</div>

			<a ng-repeat="noticia in noticias" class="item item-avatar" href="#app/noticia/{{ noticia.id }}">
				<img src="img/maceio/ponta-verde-farol.jpg">
				<p>{{ 'DATE_FORMAT' | translate:{date:noticia.date} }}</p>
				<h2>{{ noticia.title.rendered }}</h2>
			</a>
		</div>


	</ion-content>
</ion-view>