<ion-view view-title="{{ 'CONGRESSO' | translate }}" ng-init="atualizarHome(true)">
	<ion-nav-buttons side="right">
		<notificacao-directive contador="contador"></notificacao-directive>
	</ion-nav-buttons>
	
	<ion-content>
		<ion-refresher
			on-refresh="atualizarHome(false)">
		</ion-refresher>

		<div class="row">
			<div class="col">
				<div class="logo">
					<img src="img/logo-data.png" alt="{{ 'CONGRESSO' | translate }}">
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<a href="#" onclick="window.open('https://pluris2016.fundepes.br/', '_blank', 'zoom=no'); return false;">
					<button class="button button-full button-royal icon-left ion-compose">
						{{ 'MENU_INSCREVER' | translate }}
					</button>
				</a>	
			</div>
		</div>

		<div class="row">
			<div class="col">
				<a href="#/app/programacao">
					<button class="button button-full button-royal icon-left ion-ios-calendar-outline">
						{{ 'MENU_CONGRESSO_PROGRAMACAO' | translate }}
					</button>
				</a>	
			</div>
		</div>

		<div class="list card" ng-if="pagina">
			<div class="item">
				<h2>{{ pagina.post_title }}</h2>
			</div>

			<div class="item item-image" ng-if="pagina.thumbnail">
				<a href="#app/pagina/{{ pagina.ID }}" title="{{ pagina.post_title }}">
					<img class="full-image" fallback-src loading-src ng-src="{{ pagina.thumbnail }}" alt="{{ pagina.post_title }}">
				</a>
			</div>

			<div class="item item-body" ng-if="pagina.post_excerpt">
				<p>
					{{ pagina.post_excerpt }}
				</p>
			</div>

			<a href="#app/pagina/{{ pagina.ID }}" class="item item-icon-left royal"  title="{{ LEIA_MAIS | translate }}">
				<i class="icon ion-ios-paper"></i>{{ 'LEIA_MAIS' | translate }}
			</a>
		</div>

		<div class="list card" ng-if="noticias">
			<div class="item">
				<h2 class="title">
					{{ 'NOTICIAS' | translate }}
				</h2>
			</div>

			<a ng-repeat="noticia in noticias" class="item item-avatar" href="#app/noticia/{{ noticia.ID }}" title="{{ noticia.post_title }}">
				<img class="full-image" fallback-src loading-src ng-src="{{ noticia.thumbnail }}" alt="{{ noticia.post_title }}">
				<p>{{ noticia.post_date }}.</p>
				<h2>{{ noticia.post_title }}</h2>
			</a>

			<a class="item item-icon-left royal" href="#app/noticias" title="{{ LEIA_MAIS | translate }}">
				<i class="icon ion-ios-paper"></i>
				{{ 'LEIA_MAIS' | translate }}
			</a>
		</div>
	</ion-content>
</ion-view>