<ion-view  view-title="{{ 'NOTICIAS' | translate }}">
	<ion-content>
		<ion-item class="list card">

			<div class="item">
				<p>{{ noticia.post_date }}</p>
				<h2>{{ noticia.post_title }}</h2>
			</div>

			<div class="item item-body">
				<div class="item item-image" ng-show="noticia.thumbnail">
					<img class="full-image" src="{{ noticia.thumbnail }}">
				</div>
				
				<div class="noticia content" ng-bind-html="noticia.post_content"></div>
			</div>
		</ion-item>
	</ion-content>
</ion-view>