<ion-view view-title="{{ 'MENU_ANAIS' | translate }}" ng-init="carregarArtigos(true)">
	<ion-header-bar class="bar bar-subheader item-input-inset"> 
		<label class="item-input-wrapper search">
			<i class="icon ion-search placeholder-icon"></i>
			<input placeholder="{{ 'FORM_PESQUISAR' | translate }}" ng-model="pesquisar" type="text"> 
		</label>
	</ion-header-bar>
	
	<ion-content>
		<div class="list card" ng-if="artigos">
			<div class="item item-avatar item-text-wrap">
				<img src="img/logo-bola.png">
				<h2>{{ 'MENU_ANAIS' | translate }}</h2>
				<p>{{ descricao }}</p>
			</div>

			<a ng-repeat="artigo in artigos | filter:pesquisar" class="item item-list item-icon-right" href="#/app/artigos/{{artigo.ID}}">
				{{ artigo.post_title }}
				<i class="icon item-note ion-ios-arrow-right"></i>
			</a>
		</div>
	</ion-content>
</ion-view>