<ion-view view-title="{{ 'MENU_FORUNS' | translate }}" ng-init="carregarForum(true)">
	<ion-nav-buttons side="right">
		<button class="button button-icon ion-compose" ng-click="openModal()"></button>
	</ion-nav-buttons>
	<ion-content>
		<ion-refresher
			on-refresh="carregarForum(false)">
		</ion-refresher>

		 <div class="list card" ng-if="forum">
			<ion-list>
				<div class="item item-text-wrap">
					<h2>{{ forum.post_title }}</h2>
				</div>

				<div class="item item-image" ng-if="forum.thumbnail">
					<img class="full-image" fallback-src loading-src ng-src="{{ forum.thumbnail }}" alt="{{ forum.post_title }}">
				</div>

				<div class="item item-text-wrap" ng-if="forum.post_content">
					<div class="forum content" ng-bind-html="forum.post_content | externalLinks"></div>
				</div>

				<div class="item item-divider" ng-if="comentarios.length > 0">
					<h2>{{ 'FORUM_COMENTARIOS' | translate}}</h2>
				</div>

				<div ng-if="comentarios">
					<div ng-repeat="comentario in comentarios">
						<div class="list item-text-wrap">
							<a class="item item-avatar" href="#">
								<img src="img/logo-bola.png">
								<span class="item-note">{{ comentario.comment_format_date }}</span>
								<h2>{{ comentario.comment_author }}</h2>
								<p class="forum-content" ng-bind-html="comentario.comment_content | externalLinks"></p>
							</a>
						</div>
					</div>
				</div>

				<div ng-if="comentarios.length <= 0" class="padding">
					<button class="button button-block button-royal" ng-click="openModal()">
						{{ 'FORUM_BOTAO_COMENTAR' | translate }}
					</button>
				</div>
			</ion-list>
		</div>
	</ion-content>
</ion-view>