<ion-view view-title="{{ 'MENU_FORUNS' | translate }}" ng-init="carregarForuns(true)">
	<ion-header-bar class="bar bar-subheader item-input-inset"> 
		<label class="item-input-wrapper search">
			<i class="icon ion-search placeholder-icon"></i>
			<input placeholder="{{ 'FORM_PESQUISAR' | translate }}" ng-model="pesquisar" type="text"> 
		</label>
	</ion-header-bar>
	
	<ion-content>
		<ion-refresher
			on-refresh="carregarForuns(false)">
		</ion-refresher>

		<div class="list card" ng-if="foruns">
			<div class="item item-avatar item-text-wrap">
				<img src="img/logo-bola.png">
				<h2>{{ 'MENU_FORUNS' | translate }}</h2>
				<p>{{ descricao }}</p>
			</div>

			<a ng-repeat="forum in foruns | filter:pesquisar" class="item item-avatar item-list item-icon-right" href="#/app/foruns/{{forum.ID}}">
				<img fallback-src loading-src ng-src="{{ forum.thumbnail }}">
				{{ forum.post_title }}
				<i class="icon item-note ion-ios-arrow-right"></i>
			</a>
		</div>
	</ion-content>
</ion-view>