<ion-view view-title="{{ 'MENU_HOME' | translate }}">
	<ion-nav-buttons side="right">
		<notificacao-directive contador="contador"></notificacao-directive>
	</ion-nav-buttons>
	
	<ion-content>
		<div class="row">
			<div class="col">
				<div class="logo">
					<img src="img/logo-data-texto.png" alt="{{ 'CONGRESSO' | translate }}">
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col text-center">
				<a href="#" title="{{ 'MENU_INSCREVER' | translate }}" onclick="window.open('https://pluris2016.fundepes.br/', '_blank', 'zoom=no'); return false;">
					<button class="icon button button-block button-royal icon-left ion-compose">
						{{ 'MENU_INSCREVER' | translate }}
					</button>
				</a>
			</div>
		</div>

		<div id="home-buttons">
			<div class="row row-top">
				<div class="col text-center no-padding">
					<a href="#app/programacao" title="{{ 'MENU_CONGRESSO_PROGRAMACAO' | translate }}">
						<button class="icon button button-clear button-royal button-large ion-ios-calendar"></button><br />
						{{ 'MENU_CONGRESSO_PROGRAMACAO' | translate }}
					</a>
				</div>
				<div class="col text-center no-padding">
					<a href="#app/noticias" title="{{ 'MENU_NOTICIAS' | translate }}">
						<button class="icon button button-clear button-royal button-large ion-ios-paper"></button><br />
						{{ 'MENU_NOTICIAS' | translate }}
					</a>
				</div>
				<div class="col text-center no-padding">
					<a href="#/app/pagina/235" title="{{ 'MENU_LOCAL_CONFERENCIA' | translate }}">
						<button class="icon button button-clear button-royal button-large ion-ios-location"></button><br />
						{{ 'MENU_LOCAL_CONFERENCIA' | translate }}
					</a>
				</div>
				<div class="col text-center no-padding">
					<a href="#app/artigos" title="{{ 'MENU_ANAIS' | translate }}">
						<button class="icon button button-clear button-royal button-large ion-ios-copy"></button><br />
						{{ 'MENU_ANAIS' | translate }}
					</a>
				</div>
			</div>

			<div class="row row-top">
				<div class="col text-center no-padding">
					<a href="#app/foruns" title="{{ 'MENU_FORUNS' | translate }}">
						<button class="icon button button-clear button-royal button-large ion-ios-chatboxes"></button><br />
						{{ 'MENU_FORUNS' | translate }}
					</a>
				</div>
				<div class="col text-center no-padding">
					<a href="#app/galeria" title="{{ 'MENU_GALERIA' | translate }}">
						<button class="icon button button-clear button-royal button-large ion-ios-camera"></button><br />
						{{ 'MENU_GALERIA' | translate }}
					</a>
				</div>
				<div class="col text-center no-padding">
					<a href="#app/pagina/257" title="{{ 'MENU_AGENDA_CULTURAL' | translate }}">
						<button class="icon button button-clear button-royal button-large ion-film-marker"></button><br />
						{{ 'MENU_AGENDA_CULTURAL' | translate }}
					</a>
				</div>
				<div class="col text-center no-padding">
					<a href="#app/contato" title="{{ 'MENU_FALE_CONOSCO' | translate }}">
						<button class="icon button button-clear button-royal button-large ion-email"></button><br />
						{{ 'MENU_FALE_CONOSCO' | translate }}
					</a>
				</div>
			</div>
		</div>
	</ion-content>

	<!--
	<div class="bar bar-footer bar-royal">
		<img src="img/texto.svg" alt="">
	</div>
	-->
</ion-view>