<ion-view view-title="{{ 'MENU_HOME' | translate }}">
	<ion-nav-buttons side="right">
		<notificacao-directive contador="contador"></notificacao-directive>
	</ion-nav-buttons>
	
	<ion-content>
		<div class="row">
			<div class="col">
				<div class="logo">
					<img src="img/logo-data-texto.png" alt="{{ 'CONGRESSO' | translate }}">
				</div>
			</div>
		</div>

		<div id="home-buttons">
			<div class="row row-top">
				<div class="col text-center no-padding">
					<a href="#app/pagina/2" title="{{ 'MENU_CONGRESSO_APRESENTACAO' | translate }}">
						<button class="icon button button-clear button-royal button-large ion-ios-bookmarks"></button><br />
						{{ 'CONGRESSO' | translate }}
					</a>
				</div>
				<div class="col text-center no-padding">
					<a href="#app/programacao" title="{{ 'MENU_CONGRESSO_PROGRAMACAO' | translate }}">
						<button class="icon button button-clear button-royal button-large ion-ios-calendar"></button><br />
						{{ 'MENU_CONGRESSO_PROGRAMACAO' | translate }}
					</a>
				</div>
				<div class="col text-center no-padding">
					<a href="#app/noticias" title="{{ 'MENU_NOTICIAS' | translate }}">
						<button class="icon button button-clear button-royal button-large ion-ios-paper"></button><br />
						{{ 'MENU_NOTICIAS' | translate }}
					</a>
				</div>
				<div class="col text-center no-padding">
					<a href="#app/local" title="{{ 'MENU_LOCAL_CONFERENCIA' | translate }}">
						<button class="icon button button-clear button-royal button-large ion-ios-location"></button><br />
						{{ 'MENU_LOCAL_CONFERENCIA' | translate }}
					</a>
				</div>
			</div>

			<div class="row row-top">
				<div class="col text-center no-padding">
					<a href="#app/artigos" title="{{ 'MENU_ANAIS' | translate }}">
						<button class="icon button button-clear button-royal button-large ion-ios-copy"></button><br />
						{{ 'MENU_ANAIS' | translate }}
					</a>
				</div>
				<div class="col text-center no-padding">
					<a href="#app/foruns" title="{{ 'MENU_FORUNS' | translate }}">
						<button class="icon button button-clear button-royal button-large ion-ios-chatboxes"></button><br />
						{{ 'MENU_FORUNS' | translate }}
					</a>
				</div>
				<div class="col text-center no-padding">
					<a href="#app/galeria" title="{{ 'MENU_GALERIA' | translate }}">
						<button class="icon button button-clear button-royal button-large ion-ios-camera"></button><br />
						{{ 'MENU_GALERIA' | translate }}
					</a>
				</div>
				<div class="col text-center no-padding">
					<a href="#app/pagina/257" title="{{ 'MENU_AGENDA_CULTURAL' | translate }}">
						<button class="icon button button-clear button-royal button-large ion-ios-film"></button><br />
						{{ 'MENU_AGENDA_CULTURAL' | translate }}
					</a>
				</div>
			</div>
		</div>
	</ion-content>
	
	<div id="bar-footer-pluris" class="bar bar-footer bar-royal">
		<a href="#app/contato" class="button button-clear icon icon-left ion-email" title="{{ 'MENU_FALE_CONOSCO' | translate }}">
			&nbsp; {{ 'MENU_FALE_CONOSCO' | translate }}
		</a>
	</div>
</ion-view>