<ion-list id="menu-list">
	<div ng-repeat="menu in menus">
		<ion-item ng-click="toggleCat(menu)" ng-class="isActive(menu)">
			<span class="item-icon-left">
				<i class="icon" ng-class="menu.ionClass"></i>
			</span>
			
			<span ng-if="!hasSubMenu(menu)">
				<a menu-close href="{{ menu.href }}" title="{{ menu.title }}" ng-click="displaySubMenu($index)">
					{{ menu.title }}
				</a>
			</span>

			<span ng-if="hasSubMenu(menu)">
				{{ menu.title }}
			</span>
			
			<span ng-if="hasSubMenu(menu)" class="item-note">
				<i class="icon" ng-class="isCatShown(menu) ? 'ion-chevron-down' : 'ion-chevron-right'"></i>
			</span>
		</ion-item>

		<div ng-repeat="submenu in menu.items">
			<ion-item class="item-sub item-icon-left" ng-click="togglesubmenu(submenu)" ng-show="isCatShown(menu)" ng-class="isActive(submenu)">
				<a menu-close href="{{ submenu.href }}" title="{{ submenu.title }}">
					{{ submenu.title }}
				</a>
			</ion-item>
		</div>
	</div>

	<!-- REDES SOCIAIS -->
	<ion-item class="item tabs tabs-icon-left">
		<a class="tab-item" href="#" onclick="window.open('https://www.facebook.com/pluris.congresso', '_system', 'location=yes'); return false;">
			<i class="icon ion-social-facebook"></i>
			Facebook
		</a>
		<a class="tab-item" href="#" onclick="window.open('https://www.instagram.com/pluris2016oficial/', '_system', 'location=yes'); return false;">
			<i class="icon ion-social-instagram"></i>
			Instagram
		</a>
		<a class="tab-item" href="#" onclick="window.open('https://www.twitter.com/pluris2016', '_system', 'location=yes'); return false;">
			<i class="icon ion-social-twitter"></i>
			Twitter
		</a>
	</ion-item>

	<!-- APOIO / ORGANIZACAO -->
	<ion-item>
		{{ 'MENU_APOIO' | translate }}
	</ion-item>

	<ion-item class="apoio">
		<div class="row">
			<div class="col col-center center">
				<img src="img/apoio/fundepes.png"/>
			</div>

			<div class="col col-center">
				<img src="img/apoio/prefeitura.png"/>
			</div>
		</div>
	</ion-item>

	<ion-item>
		{{ 'MENU_ORGANIZACAO' | translate }}
	</ion-item>

	<ion-item class="apoio">
		<div class="row">
			<div class="col col-center center">
				<img src="img/apoio/deha.png"/>
			</div>

			<div class="col col-center center">
				<img src="img/apoio/ufal.png"/>
			</div>
		</div>
	
		<div class="row">
			<div class="col col-center center">
				<img src="img/apoio/usp.png"/>
			</div>

			<div class="col col-center center">
				<img src="img/apoio/ufscar.png"/>
			</div>

			<div class="col col-center center">
				<img src="img/apoio/universidade-do-minho.png"/>
			</div>
		</div>
	</ion-item>

	<!-- PATRONICIO -->
	<ion-item>
		{{ 'MENU_PATROCINIO' | translate }}
	</ion-item>

	<ion-item class="apoio">
		<div class="row">
			<div class="col col-center center">
				<img src="img/apoio/fapeal-100.png"/>
			</div>

			<div class="col col-center center">
				<img src="img/apoio/algas-100.png"/>
			</div>
		</div>
	
		<div class="row">
			<div class="col col-center center">
				<img src="img/apoio/capes-100.png"/>
			</div>

			<div class="col col-center center">
				<img src="img/apoio/flexform-100.png"/>
			</div>
		</div>
	</ion-item>

	<!-- APOIO / ORGANIZACAO -->
	<ion-item>
		{{ 'MENU_AGENCIA_OFICIAL' | translate }}
	</ion-item>

	<ion-item class="apoio">
		<div class="row">
			<div class="col col-center center">
				<img src="img/apoio/transamerica.png"/>
			</div>
		</div>
	</ion-item>
</ion-list>