<ion-view view-title="{{ 'USUARIO_CRIAR_CONTA' | translate }}">
	<ion-content>
		<div class="text-center padding login">
			<img src="img/logo-data-texto.png" alt="{{ 'CONGRESSO' | translate }} logo" class="logo">
		</div>
		
		<form name="formCadastro" novalidate ng-submit="cadastro()">
			<div class="list list-inset">
				<label class="item item-input">
					<input type="text" name="name" required autocomplete="off" ng-minlength="10" placeholder="{{ 'FORM_LOGIN_NAME' | translate }}" ng-model="name">
				</label>
				<label class="item item-input">
					<input type="email" name="email" required autocomplete="off" placeholder="{{ 'FORM_LOGIN_USERNAME' | translate }}" ng-model="email">
				</label>
				<label class="item item-input">
					<input type="password" name="password" required autocomplete="off" placeholder="{{ 'FORM_LOGIN_PASSWORD' | translate }}" ng-model="password">
				</label>
				<label class="item item-input">
					<input type="password" name="passwordconfirm" required autocomplete="off" placeholder="{{ 'FORM_LOGIN_PASSWORD_CONFIRM' | translate }}" ng-model="passwordconfirm">
				</label>
			</div>

			<div class="padding">
				<button type="submit" class="button button-block button-royal" ng-disabled="formCadastro.$invalid">{{ 'FORM_LOGIN_CRIAR_CONTA' | translate }}</button>
			</div>
		</form>

		<p class="text-center">
			<a ng-click="login()" title="{{ 'USUARIO_LOGIN' | translate }}">
				<button class="button button-clear button-royal">
					{{ 'USUARIO_LOGIN' | translate }}
				</button>
			</a>
		</p>
	</ion-content>
</ion-view>