<ion-modal-view>
	<ion-header-bar class="bar-royal">
	    <h1 class="title">{{ 'USUARIO_LOGIN' | translate }}</h1>
	    <button class="button button-icon ion-android-close" ng-click="closeLogin()"></button>
	</ion-header-bar>

	<ion-content>
		<div class="text-center padding login">
			<img src="img/logo-data-texto.png" alt="{{ 'CONGRESSO' | translate }} logo" class="logo">
		</div>
		
		<form name="formLogin" novalidate ng-submit="doLogin()" ng-controller="UsuarioController">
			<div class="list list-inset">
				<label class="item item-input">
					<input type="email" name="username" ng-model="username" required autocomplete="on" autocorrect="off" autocapitalize="off" spellcheck="false" placeholder="{{ 'FORM_LOGIN_USERNAME' | translate }}">
				</label>

				<label class="item item-input">
					<input type="password" name="password" ng-model="password" required autocomplete="on" autocorrect="off" autocapitalize="off" spellcheck="false" placeholder="{{ 'FORM_LOGIN_PASSWORD' | translate }}">
				</label>
			</div>

			<div class="padding">
				<button type="submit" class="button button-block button-royal" ng-disabled="formLogin.$invalid">
					{{ 'USUARIO_LOGIN' | translate }}
				</button>
			</div>
		</form>

		<div class="text-center">
			<a menu-close href="#" title="{{ 'USUARIO_CRIAR_CONTA' | translate }}" ng-click="closeLogin('app.usuario/criar-conta')">
				<button class="button button-clear button-royal">
					{{ 'USUARIO_CRIAR_CONTA' | translate }}
				</button>
			</a>

			<a menu-close href="#" title="{{ 'USUARIO_ESQUECI_A_SENHA' | translate }}" ng-click="closeLogin('app.usuario/esqueci-a-senha')">
				<button class="button button-clear button-royal">
					{{ 'USUARIO_ESQUECI_A_SENHA' | translate }}
				</button>
			</a>
		</div>
	</ion-content>
</ion-modal-view>