<ion-view view-title="{{ 'USUARIO_PERFIL' | translate }}">
	<ion-content>
		<div class="profile profile-royal" ng-if="user">
			<div class="row">
				<div class="col text-center">
					<img class="profile-picture" fallback-src loading-src ng-src="{{ user.avatar.url }}" />
					<h4 class="name">{{ user.display_name }}</h4>
					<p class="email">{{ user.user_email }}</p>
				</div>
			</div>
		</div>

		<div class="row" ng-if="user">
			<div class="col text-center">
				<button class="button button-clear button-royal" ng-click="logout()" >
					{{ 'USUARIO_LOGOUT_MENSAGEM' | translate }}
				</button>
			</div>
		</div>
	</ion-content>
</ion-view>