<ion-view view-title="{{ 'CONGRESSO' | translate }}" ng-init="carregarPagina(true)">
	<ion-content>
		<ion-refresher
			on-refresh="carregarPagina(false)">
		</ion-refresher>

		<div class="list card" ng-if="pagina">
			<ion-list>
				<div class="item item-avatar">
					<img src="img/logo-bola.png">
					<h2>{{ pagina.post_title }}</h2>
					<p>{{ 'CONGRESSO' | translate }}</p>
				</div>

				<div class="item item-image" ng-if="pagina.thumbnail">
					<img class="full-image" fallback-src loading-src ng-src="{{ pagina.thumbnail }}" alt="{{ pagina.post_title }}">
				</div>

				<div class="item item-body">
					<div class="noticia content" ng-bind-html="pagina.post_content | externalLinks"></div>
				</div>

				<div class="item tabs tabs-icon tabs-icon-left">
					<a class="tab-item" href="#" ng-click="share(pagina)" title="{{ 'SHARE' | translate }}">
						<i class="icon ion-android-share-alt"></i>
					</a>
				</div>
			</ion-list>
		</div>
	</ion-content>
</ion-view>