<ion-view view-title="{{ 'MENU_CONGRESSO_APRESENTACAO' | translate}}">
	<ion-content>
		<div class="content padding">
			<div ng-if="language == 'pt_BR'">
				<p>
					O <strong>PLURIS</strong> representa a continuidade da parceria entre pesquisadores do Brasil e de Portugal que se realiza desde 2005. Constitui-se em uma associação técnico-científica, de caráter multidisciplinar, reunindo profissionais que atuam principalmente nos seguintes temas: Ambiente e Energia; Cidades Inovadoras e Inteligentes; Mobilidade e Transportes e Planejamento Regional e Urbano.
				</p>
				<p>
					Precedido pelo PLURIS 2014, realizado em Lisboa – Portugal, o Congresso bianual tem sua sétima edição a ser realizada no Brasil, desta vez sediado na cidade de Maceió – Alagoas, nos dias 05, 06 e 07 de outubro de 2016. O evento é aberto aos diversos perfis de participantes: pesquisadores, estudantes e profissionais ligados aos temas e tópicos abordados. Assim, a sua nova edição em 2016 pretende reforçar e enriquecer os contatos estabelecidos nas edições anteriores e integrar novos participantes cujos trabalhos acadêmicos e profissionais se enquadrem nas temáticas do congresso.
				</p>
				<p>
					No <strong>PLURIS</strong> 2016, os contrastes, as contradições e as complexidades urbanas – desafios do século XXI –, serão a pauta do evento. Hoje, a vivência nas cidades mostra novas formas de permanência, de uso e de produção do ambiente urbano. Assim, o desafio de “pensar a cidade” passa pela busca de relações equilibradas entre o homem e o meio ambiente, pelo adequado adensamento construtivo e infraestrutura, pela mobilidade sustentável e inclusão espacial, entre outros. Cada vez mais, os diversos profissionais que atuam na área urbana deparam-se com essas demandas atuais e com o desafio da intervenção.
				</p>
				<p>
					Esperamos ter o prazer de nos encontrarmos no <strong>PLURIS</strong> 2016, em Maceió. Saudações da Coordenação Local,
				</p>

				<p>Gianna Melo Barbirato</p>
				<p>Ricardo Victor Rodrigues Barbosa</p>
				<p>João Carlos Cordeiro Barbirato</p>
				<p>Universidade Federal de Alagoas</p>
			</div>

			<div ng-if="language == 'en'">
				<p>
					The <strong>PLURIS</strong> represents the continuation of the partnership between researchers from Brazil and Portugal since 2005. It constitutes a technical and scientific multidisciplinary association, bringing together professionals working on the following topics: Environment and Energy; Groundbreaking and Intelligent Cities; Mobility and Transport; and Regional and Urban Planning.
				</p>
				<p>
					Preceded by <strong>PLURIS</strong> 2014 held in Lisbon – Portugal, the biennial Congress has its seventh edition in Brazil, this time being based in Maceió – Alagoas, from 05 - 07 of October 2016. The Conference is open to participants with different profiles: researchers, students and professionals linked to the themes and topics addressed in the conference. Thus, the new edition in 2016 reinforces and supplements the established contacts and integrate new participants whose academic work and professional fall within the themes of the congress.
				</p>
				<p>
					In the seventh edition of <strong>PLURIS</strong>, the contrasts, contradictions and urban complexities, challenges of the twenty-first century will be the focus of the event. The experience in cities today shows new forms of permanence, use and production of the urban environment and the challenge is the search for an equilibrated relation between man and the environment, the adequate constructive density and infrastructure for sustainable mobility and spatial inclusion, and others topics. Increasingly, the various professionals working in the urban spaces faces the needs of these current demands and the challenge of the intervention.
				</p>
				<p>
					We look forward to your participation in <strong>PLURIS</strong> 2016, and to see you in Maceió.
				</p>

				<p>Sincerely,</p>

				<p>Gianna Melo Barbirato</p>
				<p>Ricardo Victor Rodrigues Barbosa</p>
				<p>João Carlos Cordeiro Barbirato</p>
				<p>Universidade Federal de Alagoas</p>
			</div>

			<div ng-if="language == 'es'">
				<p>
					El <strong>PLURIS</strong> 2016 continúa la colaboración entre investigadores de Brasil y Portugal celebrada desde el año 2005. Constituye una asociación técnica y científica, multidisciplinar, que reúne a los profesionales que trabajan en los siguientes temas: Medio Ambiente y Energía; Ciudades innovadoras e inteligentes; Movilidad y Transporte y Planificación Regional y Urbana.
				</p>
				<p>
					Precedido por <strong>PLURIS</strong> 2014 celebrado en Lisboa - Portugal, el Congreso bienal tiene su séptima edición en Brasil, de esta vez en Maceió – Alagoas, en los días 05, 06 y 07 de octubre de 2016.
				</p>
				<p>
					El congreso está abierto a diversos perfiles de participantes: investigadores, estudiantes y profesionales vinculados a los temas y tópicos tratados. Por lo tanto, su nueva edición en 2016 tiene como objetivo reforzar y complementar los contactos establecidos, así como integrar nuevos participantes cuyos trabajos académicos y profesionales estén dentro de los temas del congreso.
				</p>
				<p>
					En la séptima edición del <strong>PLURIS</strong>, contrastes, contradicciones y complejidades urbanas, retos del siglo XXI, será el tema central del evento. La experiencia en las ciudades hoy muestra nuevas formas de permanencia, uso y producción del medio ambiente urbano, y el reto es la búsqueda de relaciones equilibradas entre el hombre y el medio ambiente, la consolidación constructiva adecuada y la infraestructura para la movilidad sostenible y la inclusión espacial, entre otros. Cada vez más, los distintos profesionales que trabajan en el área urbana se enfrentan estas demandas actuales y el reto de la intervención.
				</p>

				<p>
					Recibid un cordial saludo de la Comisión Organizadora,
				</p>

				<p>Gianna Melo Barbirato</p>
				<p>Ricardo Victor Rodrigues Barbosa</p>
				<p>João Carlos Cordeiro Barbirato</p>
				<p>Universidade Federal de Alagoas</p>
			</div>
		</div>
	</ion-content>
</ion-view>