<ion-view view-title="{{ 'MENU_CONGRESSO_ORGANIZACAO' | translate}}">
	<ion-content>
		<div class="list card">
			<div class="item item-avatar">
				<img src="img/logo-bola.png">
				<h2>{{ 'MENU_CONGRESSO_ORGANIZACAO' | translate }}</h2>
				<p>{{ 'MENU_CONGRESSO' | translate }}</p>
			</div>

			<div class="item item-body">
				
				<p>{{ 'ORGANIZACAO_PERMANENTE' | translate }}</p>
				
				<div class="item-image">
					<img class="full-image" src="img/congresso/organizacao-permanente.png">
				</div>

				<p>{{ 'ORGANIZACAO_PERMANENTE' | translate }}</p>
				
				<div class="item-image">
					<img class="full-image" src="img/congresso/organizacao-local.png">
				</div>
				
				<div ng-if="language == 'pt_BR'">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo laborum odit numquam nam reiciendis voluptatibus, harum, soluta earum ullam eligendi dolor qui, facilis dolores porro possimus laudantium ex vero aperiam.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum laudantium beatae molestiae assumenda optio, libero repellat excepturi ex vel voluptatibus earum facere tempora suscipit! Doloribus accusamus sed maiores quam repellat.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, officia possimus laborum ipsum deleniti voluptatum omnis nostrum recusandae nam eveniet incidunt vitae, quas! Ea est natus, molestias similique, doloremque consectetur.</p>
				</div>

				<div ng-if="language == 'en'">
					<p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo laborum odit numquam nam reiciendis voluptatibus, harum, soluta earum ullam eligendi dolor qui, facilis dolores porro possimus laudantium ex vero aperiam.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum laudantium beatae molestiae assumenda optio, libero repellat excepturi ex vel voluptatibus earum facere tempora suscipit! Doloribus accusamus sed maiores quam repellat.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, officia possimus laborum ipsum deleniti voluptatum omnis nostrum recusandae nam eveniet incidunt vitae, quas! Ea est natus, molestias similique, doloremque consectetur.</p>
				</div>

				<div ng-if="language == 'es'">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo laborum odit numquam nam reiciendis voluptatibus, harum, soluta earum ullam eligendi dolor qui, facilis dolores porro possimus laudantium ex vero aperiam.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum laudantium beatae molestiae assumenda optio, libero repellat excepturi ex vel voluptatibus earum facere tempora suscipit! Doloribus accusamus sed maiores quam repellat.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, officia possimus laborum ipsum deleniti voluptatum omnis nostrum recusandae nam eveniet incidunt vitae, quas! Ea est natus, molestias similique, doloremque consectetur.</p>

					<p>Gianna Melo Barbirato</p>
					<p>Ricardo Victor Rodrigues Barbosa</p>
					<p>João Carlos Cordeiro Barbirato</p>
					<p>Universidade Federal de Alagoas</p>
				</div>
			</div>

			<div class="item tabs tabs-icon">
				<a class="tab-item" href="#" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=http://www.fau.ufal.br/evento/pluris2016/congresso_organizacao.html', '_system', 'location=yes'); return false;">
					<i class="icon ion-social-facebook"></i>
				</a>
				<a class="tab-item" href="#" onclick="window.open('http://www.twitter.com/share?url=http://www.fau.ufal.br/evento/pluris2016/congresso_organizacao.html', '_system', 'location=yes'); return false;">
					<i class="icon ion-social-twitter"></i>
				</a>
			</div>
		</div>
	</ion-content>
</ion-view>