<ion-view view-title="{{ 'MENU_CONGRESSO_PROGRAMACAO' | translate }}" ng-init="carregarProgramacao(false); carregarCategorias(true)">
	<ion-content>
		<ion-refresher
			on-refresh="carregcarCategorias(false)">
		</ion-refresher>
	
		<ion-list ng-if="categorias">
			<ion-item class="item-divider text-center">
				<h2>{{ 'MENU_CONGRESSO_PROGRAMACAO' | translate }}</h2>
				<p>{{ 'PROGRAMACAO_DIA' | translate:data }}</p>
			</ion-item>

			<ion-item ng-repeat="categoria in categorias" href="#/app/programacao/{{ categoria.slug }}/dia/{{ dia }}/categoria/{{ categoria.cat_ID }}" title="{{ categoria.name }}" ng-click="salvarCategoriaSelecionada(categoria)">
				<span class="item-icon-left">
					<i class="icon ion-ios-calendar-outline"></i>
				</span>

				{{ categoria.name }}

				<span class="item-icon-right">
					<i class="icon item-note ion-ios-arrow-right"></i>
				</span>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>