<ion-view view-title="{{ 'MENU_CONGRESSO_PROGRAMACAO' | translate }}" ng-init="carregarProgramacao(true)">
	<ion-content>
		<ion-refresher
			on-refresh="carregarProgramacao(false)">
		</ion-refresher>
		
		<div class="list card" ng-if="descricao">
			<div class="item item-avatar item-text-wrap">
				<img src="img/logo-bola.png">
				<h2>{{ 'MENU_CONGRESSO_PROGRAMACAO' | translate }}</h2>
				<div ng-bind-html="descricao.descricao | externalLinks"></div>
			</div>
		</div>
		<div class="list card">
			<ion-list>
				<ion-item href="#/app/programacao/dia/5" title="{{ 'PROGRAMACAO_1_DIA' | translate }}" ng-click="salvarDiaSelecionado(5)">
					<span class="item-icon-left">
						<i class="icon ion-ios-calendar-outline"></i>
					</span>

					{{ 'PROGRAMACAO_1_DIA' | translate }}

					<span class="item-icon-right">
						<i class="icon item-note ion-ios-arrow-right"></i>
					</span>
				</ion-item>

				<ion-item href="#/app/programacao/dia/6" title="{{ 'PROGRAMACAO_2_DIA' | translate }}" ng-click="salvarDiaSelecionado(6)">
					<span class="item-icon-left">
						<i class="icon ion-ios-calendar-outline"></i>
					</span>

					{{ 'PROGRAMACAO_2_DIA' | translate }}

					<span class="item-icon-right">
						<i class="icon item-note ion-ios-arrow-right"></i>
					</span>
				</ion-item>

				<ion-item href="#/app/programacao/dia/7" title="{{ 'PROGRAMACAO_3_DIA' | translate }}" ng-click="salvarDiaSelecionado(7)">
					<span class="item-icon-left">
						<i class="icon ion-ios-calendar-outline"></i>
					</span>

					{{ 'PROGRAMACAO_3_DIA' | translate }}

					<span class="item-icon-right">
						<i class="icon item-note ion-ios-arrow-right"></i>
					</span>
				</ion-item>
			</ion-list>
		</div>
	</ion-content>
</ion-view>