<ion-view view-title="{{ evento.post_title }} {{ 'MENU_CONGRESSO_PROGRAMACAO' | translate}}" ng-init="carregarEvento(true)">
	<ion-nav-buttons side="right">
		<button class="button button-icon" ng-class="{ 'ion-android-star' : favoritado, 'ion-android-star-outline'  : !favoritado }" ng-click="favorito(evento)"></button>
	</ion-nav-buttons>
	<ion-content>
		<ion-refresher
			on-refresh="carregarEvento(false)">
		</ion-refresher>
		
		<div class="list card" ng-if="evento">
			<ion-list>
				<div class="item">
					<h2>{{ evento.post_title }}</h2>
				</div>

				<div class="item item-icon-left">
					<i class="icon ion-ios-calendar-outline"></i>
					<strong>{{ 'CALENDARIO_DATA_HORA_INICIO' | translate }}: </strong> {{ evento.metas.date_start[0] +'T'+ evento.metas.time_start[0] | date:'medium' }}
				</div>

				<div class="item item-icon-left">
					<i class="icon ion-ios-calendar-outline"></i>
					<strong>{{ 'CALENDARIO_DATA_HORA_FINAL' | translate }}: </strong> {{ evento.metas.date_end[0] +'T'+ evento.metas.time_end[0] | date:'medium' }}
				</div>

				<div class="item item-body" ng-if="evento.post_content">
					<div class="noticia content" ng-bind-html="evento.post_content"></div>
				</div>
			</ion-list>
		</div>
	</ion-content>
</ion-view>