<ion-view view-title="{{ 'PROGRAMACAO_DIA' | translate:data }}" ng-init="carregarProgramacao(false); carregarCategorias(true)">
	<ion-content>
		<ion-refresher
			on-refresh="carregcarCategorias(false)">
		</ion-refresher>
		
		<div class="list card" ng-if="descricao">
			<div class="item item-avatar item-text-wrap">
				<img src="img/logo-bola.png">
				<h2>{{ categoria_selecionada.name }}</h2>
				<p>{{ 'MENU_CONGRESSO_PROGRAMACAO' | translate }}</p>
			</div>
		</div>

		<ion-list ng-if="categorias">
			<div ng-repeat="categoria in categorias">
				<div ng-if="categoria.subcategory">
					<div ng-repeat="subcategoria in categoria.subcategory">
						<ion-item  class="item-divider">
							{{ subcategoria.name }}
						</ion-item>

						<ion-item ng-repeat="subsubcategoria in subcategoria.subcategory" href="#/app/programacao/sub-categoria/{{ subsubcategoria.cat_ID }}" ng-click="salvarCategoriaSelecionada(subsubcategoria)">
							<span class="item-icon-left">
								<i class="icon ion-ios-calendar-outline"></i>
							</span>
							
							{{ subsubcategoria.name }}

							<span class="item-icon-right">
								<i class="icon item-note ion-ios-arrow-right"></i>
							</span>
						</ion-item>
					</div>
				</div>
			</div>
		</ion-list>
	</ion-content>
</ion-view>