<ion-view view-title="{{ 'MENU_CONGRESSO_PROGRAMACAO' | translate }}" ng-init="carregarCategorias(true)">
	<ion-content>
		<ion-refresher
			on-refresh="carregcarCategorias(false)">
		</ion-refresher>
		
		<ion-item class="item-divider text-center">
			<h2>{{ categoria.name }}</h2>
			<p>{{ 'PROGRAMACAO_DIA' | translate:data }}</p>
		</ion-item>

		<ion-list ng-if="categorias">
			<div ng-repeat="categoria in categorias">
				<div ng-if="categoria.subcategoria">
					<div ng-repeat="subcategoria in categoria.subcategoria">
						<ion-item  class="item-divider">
							{{ subcategoria.name }}
						</ion-item>

						<ion-item ng-repeat="subsubcategoria in subcategoria.subcategoria" href="#/app/programacao/sub-categoria/{{ subsubcategoria.cat_ID }}" ng-click="salvarSubCategoriaSelecionada(subcategoria)">
							<span class="item-icon-left">
								<i class="icon ion-ios-calendar-outline"></i>
							</span>
							
							{{ subsubcategoria.name }}

							<span class="item-icon-right">
								<i class="icon item-note ion-ios-arrow-right"></i>
							</span>
						</ion-item>
					</div>
				</div>
			</div>
		</ion-list>
	</ion-content>
</ion-view>