<ion-view view-title="{{ 'MENU_CONGRESSO_PROGRAMACAO' | translate }}" ng-init="carregarSubEventos(true);">
	<ion-content>
		<ion-refresher
			on-refresh="carregarSubEventos(false)">
		</ion-refresher>

		<ion-list>
			<ion-item class="item-divider text-center">
				<h2>{{ categoria.name }}</h2>
				<p>{{ 'PROGRAMACAO_DIA' | translate:data }}</p>
				<p>{{ subcategoria.name }}</p>
			</ion-item>
			
			<ion-item ng-repeat="evento in eventos" href="#/app/programacao/subcategoria/evento/{{ evento.ID }}">
				{{ 'HORA_FORMATO' | translate : {date : evento.metas.date_start[0] +'T'+ evento.metas.time_start[0] } }} - {{ evento.post_title }}
				<span class="item-icon-right">
					<i class="icon item-note ion-ios-arrow-right"></i>
				</span>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>