<ion-view view-title="{{ 'PROGRAMACAO_SESSOES_TEMATICAS' | translate }}" ng-init="carregarEvento(true)">
	<ion-nav-buttons side="right">
		<button class="button button-icon button-clear button-royal" ng-class="{ 'ion-android-star' : favoritado, 'ion-android-star-outline'  : !favoritado }" ng-click="favorito(evento)"></button>
	</ion-nav-buttons>
	
	<ion-content>
		<ion-refresher
			on-refresh="carregarEvento(false)">
		</ion-refresher>

		<ion-list ng-if="evento">
			<div class="item item-text-wrap">
				<h2>{{ evento.post_title }}</h2>
			</div>

			<div class="item item-icon-left item-text-wrap">
				<i class="icon ion-ios-calendar-outline"></i>
				<strong>{{ 'DIA' | translate }}: </strong>
				{{ 'DATA_FORMATO' | translate : {date : evento.metas.date_start[0] +'T'+ evento.metas.time_start[0] } }}
			</div>

			<div class="item item-icon-left">
				<i class="icon ion-clock"></i>
				<strong>{{ 'CALENDARIO_DATA_HORA_INICIO' | translate }}: </strong>
				{{ 'HORA_FORMATO' | translate : {date : evento.metas.date_start[0] +'T'+ evento.metas.time_start[0] } }}
			</div>

			<div class="item item-icon-left">
				<i class="icon ion-clock"></i>
				<strong>{{ 'CALENDARIO_DATA_HORA_FINAL' | translate }}: </strong>
				{{ 'HORA_FORMATO' | translate : {date : evento.metas.date_end[0] +'T'+ evento.metas.time_end[0] } }}
			</div>

			<div class="item item-body" ng-if="evento.post_content">
				<div class="noticia content" ng-bind-html="evento.post_content | externalLinks"></div>
			</div>
		</ion-list>
	</ion-content>
</ion-view>