/* Empty. Add your own CSS if you like */
a{
	text-decoration: none;
}

.center{
	text-align:center;
}

#menu-logo {
	background-image: url(../img/background.png);
	background-position: center center;
}

.logo {
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.home-content {
	position: absolute;
	width: 100%;
	height: 100%;
	padding-top: 50px;
	background-image: url(../img/background.png);
	background-position: center center;
}

.home-content .logo {
	margin-top: 20px;
	text-align: center;
}

.home-content .logo img {
	width: 95%;
}

.button-menu-inscrever{
    margin-top: inherit !important;
    margin-bottom: inherit !important;
}

.apoio img{
	max-width: 50px;
}